.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--header-bg);
  color: var(--text);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  transition: background-color 0.3s ease;
}

.header-content {
  height: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 7rem;
}


.logoImg{
  width: 8em;
}

.logoImg:hover{
  cursor: pointer;
}

.login-link {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  border: 1px solid var(--border);
  padding: 8px 14px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.login-link:hover {
  background-color: var(--hover);
  transform: scale(1.05);
}


.menu-toggle {
  display: none;
  background: none;
  border: 1px solid var(--border);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  font-size: 2rem;
  color: var(--text);
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-toggle:hover {
  background-color: var(--hover);
  transform: scale(1.05);
}

.desktop-items {
  display: flex;
  align-items: center;
}


@media (max-width: 780px) {
  .menu-toggle {
    display: flex;
  }

  .desktop-items {
    display: none;
  }

  .header-content {
    padding: 0rem 3rem;
  }

  .mobile-menu {
    position: absolute;
    top: 100%;
    background-color: var(--header-bg);
    border-top: 1px solid var(--border);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .mobile-menu a {
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    border: 1px solid var(--border);
    padding: 8px 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: fit-content;
  }

  .mobile-menu a:hover {
    background-color: var(--hover);
    transform: scale(1.05);
  }


  .mobile-menu button {
    margin-top: 0.5rem;
  }

}