.logout-btn {
    width: 10em;
    height: 4vh;
    border: none;
    background: #ffe5e5;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.logout-btn:hover {
    background: #ffcccc;
}

.logout-btn p {
    color: #d62828;
}