.island-search {
  position: fixed;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
  z-index: 10000;
  transform: translateY(5em);
  animation: dropFade 0.18s ease-out;
}


.search-container {
  color: black;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 0.4rem 0.6rem;
  border-radius: 14px;
  border: 1px solid var(--border);
}

#select-sport {
    color: black;
    border: none;
    background: transparent;
}

@keyframes dropFade {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(4.8em);
    }
}