.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
  color: var(--text-color);
  padding: 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.home-content {
  max-width: 600px;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.home-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.2rem;
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 3em;
}